/* General settings for all pages */
/* Do NOT Change */
* {
    margin: 0;
    padding: 0;
    size: 0;
    text-decoration: none;
}










.footerbar {display: flex;
            background-color:#43C4CD
 



                        };
           
            


