/* General settings for all pages */
/* Do NOT Change */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
}

body {
  background-color: slategray;
}

/* CSS Navbar */
nav {
  display: flex;
  background-color: #43C4CD;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 30px;
  color: white;
}

/* CSS Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #43C4CD;
  padding: 20px;
  color: white;
  text-align: center;
}

/* CSS Links page */
#links_header {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

#links_list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#links_list a {
  font-weight: bold;
  color: white;
  background-color: #43C4CD;
  padding: 5px;
  border-radius: 5px;
  font-size: 40px;
  margin-bottom: 5vh;
}
#links_list li{
  margin-bottom: 5vh;
}

/* CSS Marlon game page */
#game-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #87CEEB, #1E90FF);
}

.orb {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#resetButton, #terug, #score {
  position: absolute;
  font-size: 16px;
  cursor: pointer;
}

/* CSS Dylan game page */
.dylan-game {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: slategray;
  margin-top: 50px;
}

#D-title {
  text-align: center;
  margin-bottom:15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 15px;
  justify-items: center;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
  padding: 15px;
  font-size: 20px;
  margin: auto;
  width: 50px; 
  text-align: center; 
}

#restart-button {
  padding: 15px 30px; 
  font-size: 16px;
  background-color: #43C4CD; 
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#D-explain-button{
  padding: 15px 30px;
  background-color: #43C4CD;
  color: white;
  display: flex; 
  margin: 50px;
  justify-content: center;
}

/* CSS Roald game */
#guessInput {
  width: 50px;
}

#result {
  font-weight: bold;
  margin-top: 20px;
}

.R-title{
  display:flex;
  justify-content: center;
  margin-top: 20vh;
}

#R-explanation{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.R-guess{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

/* Marlon Goedendoel */
.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.team-trees {
  justify-content: center;
}

.donate-text {
  font-size: x-large;
  text-align: center;
}

.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(10vh - 10px);
  margin: 0;
}

/* Game info Marlon game */
.gameinfomarlon{
  font-size: x-large;
}

/* Marlon Portfolio CSS */
.marlon-portfolio{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

/* Index CSS page */
.thumbnails {
  text-align: center;
  margin-bottom: 20px;
}

#index-thumbnails-title {
  font-size: 24px;
  margin:25px;
  color: #333;
}

.thumbnail-png img {
  width: 30%; /* Adjust as needed */
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style the game explanation links */
.Game-explanation-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.Game-explanation-links a {
  color: white;
  background-color: #87CEEB;
  padding: 10px;
  border-radius: 15px;
}

/* Style the about us section */
.about-us {
  text-align: center;
  margin-bottom: 20px;
}

.profiles img {
  width: 80px;
  border-radius: 50%;
  margin: 10px;
}

/* Style the donate to play section */
.Donate-to-play {
  background-color: #5484b4;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 7vh;
}

.Donate-to-play h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.Donate-to-play-explanation {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

#profile-para{
  font-size: 18px;
  background-color:#43C4CD;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
}

#profile-para-a{
  color:white;
}

/* Dylan game explanation CSS */
.Uitleg-D-game {
  padding: 20px;
  margin: 20px;
}

#D-uitleg {
  max-width: 800px;
  margin: 0 auto;
}

.Uitleg-D-game h1 {
  color: #43C4CD;
  margin-bottom: 15px;
}

.Uitleg-D-game p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.Uitleg-D-game ol {
  list-style-type: decimal;
  margin-bottom: 15px;
}

#D-meer-uitleg{
  margin-bottom:50px;
}

#D-meer-uitleg a{
  color:black;
}

.D-back-button {
  text-align: center;
  margin-bottom: 30px;
  color:black;
  background-color:#43C4CD;
  padding: 10px;
  border-radius: 5px;
}

.D-back-button a{
  color:white;
}

/* Dylan Charity CSS */
.D-charity {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

#D-charity-intro,
#D-charity-text,
#D-charity-outro {
  margin-bottom: 25px;
  text-align: center;
}

#D-charity-intro h1,
#D-charity-text h1,
#D-charity-outro h1 {
  color: #43C4CD;
  margin-bottom: 15px;
}

#D-charity-intro p,
#D-charity-text p,
#D-charity-outro p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

#D-charity-outro{
  margin-bottom: 75px;
}
#D-read-more {
  margin-bottom: 30px;
  text-align: center;
  background-color:#43C4CD;
  padding: 10px;
  border-radius: 5px;
  color:white;
  font-size: 16px;
}

/* Dylan charity motivation CSS */
.D-motivation {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

#D-motivation-intro,
#D-motivation-text,
#D-motivation-outro,
#D-motivation-image {
  margin-bottom: 50px;
  text-align: center;
}

#D-motivation-intro h1,
#D-motivation-text h1,
#D-motivation-outro h1 {
  color: #43C4CD;
  margin-bottom: 20px;
}

#D-motivation-intro p,
#D-motivation-text p,
#D-motivation-outro p,
#D-motivation-image p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#D-read-more {
  text-align: center;
  background-color:#43C4CD;
  padding: 10px;
  border-radius: 5px;
  color:white;
  font-size: 16px;
}
#D-motivation-image img{
  border-radius: 15px;
  border: 5px solid #fff;
  height:auto;
  width: 100%;
}
/* Dylan Portfolio CSS */
.D-portfolio {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#D-portfolio-intro {
  text-align: center;
  margin-bottom: 20px;
}

#D-portfolio-intro h1 {
  color: #43C4CD;
}

#D-portfolio-selfie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#D-portfolio-selfie img {
  max-width: 25%;
  border-radius: 40%;
  margin-bottom: 20px;
}

#D-portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#D-portfolio-main h2 {
  color: #43C4CD;
  margin-top: 20px;
}

#D-portfolio-main p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

#D-portfolio-main ul {
  list-style-type: disc;
  margin-left: 20px;
}

#D-portfolio-main li {
  margin-bottom: 10px;
}

.D-Skills {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

#skills-list,
#soft-skills-list {
  list-style: none;
  padding: 0;
}

#skills-list li,
#soft-skills-list li {
  margin-bottom: 10px;
  font-size: 16px;
  margin-right: 2vw;
}

#D-portfolio-outro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #43C4CD;
  color: white;
  border-radius: 10px;
}

#D-portfolio-outro h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#D-portfolio-outro ul {
  list-style-type: none;
  padding: 0;
}

#D-portfolio-outro li {
  font-size: 16px;
  margin-bottom: 10px;
}

#D-portfolio-outro a {
  color: white;
}