/* General settings for all pages */
/* Do NOT Change */
* {
    margin: 0;
    padding: 0;
    size: 0;
    text-decoration: none;
}
body{
    background-color: slategray;
}
/* Css navbar */
nav {
    display: flex;
    background-color: #43C4CD;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100px;
    padding: 30px;
    color: white;
    text-decoration: none;   
}
/* CSS Footer */
footer {
    background-color: #43C4CD;
    padding: 20px;
    color: white;
    text-align: center;
}
.footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.footer-links a:hover {
    text-decoration: underline;
}


.gdh1{     
    display: flex;
    justify-content: center;
    margin: 15px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #43C4CD;
}
.goeden-doelen{
    display: flex;
    margin-top: 20rem;
}
.marlon, .dylan, .roald{
    background-color: #43C4CD;
    justify-content: space-between;
}
.pic{
    scale: 50%;}

.profiles{
    display: flex;
    scale: 10%;
    padding: 1%;
    margin: 1%;
    border: 1%;
}

h1{ 
    display: flex;
    justify-content: center;
    margin: 15px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #43C4CD;}
p{  
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;}
a{
display: flex;
font-family: Arial, Helvetica, sans-serif;
justify-content: space-between;}


/* Css goededoelen page */
#goedendoelen_main {
    min-height: 75.8vh;
}
#goedendoelen_header {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#goedendoelen_list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#goedendoelen_list a {
    font-weight: bold;
    color: white;
    background-color: #43C4CD;
    padding: 2px;
    border-radius: 5px;
    font-size: 40px;
}
#goedendoelen_list li {
    margin-bottom: 5vh;
}
/* Css marlon game page */

#game-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  }

  .orb {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  #resetButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
  }