/* General settings for all pages */
/* Do NOT Change */
* {
    margin: 0;
    padding: 0;
    size: 0;
    text-decoration: none;
}
body{
    background-color: slategray;
}
/* Css navbar */
nav {
    display: flex;
    background-color: #43C4CD;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100px;
    padding: 30px;
    color: white;
    text-decoration: none;   
}
/* Css Footer */

.gdh1{     
    display: flex;
    justify-content: center;
    margin: 15px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50vh;
}

.goeden-doelen{
    display: flex;
    align-items: center;
    bottom: 5%;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.goeden-doelen-img{
    display: flex;
    scale: 50%;
}