/* General settings for all pages */
/* Do NOT Change */
* {
    margin: 0;
    padding: 0;
    size: 0;
    text-decoration: none;
}
body{
    background-color: slategray;
}
/* Css navbar */
nav {
    display: flex;
    background-color: #43C4CD;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100px;
    padding: 30px;
    color: white;
    text-decoration: none;   
}
/* Css Footer */


.gdh1{     
    display: flex;
    justify-content: center;
    margin: 15px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #43C4CD;
}
.goeden-doelen{
    display: flex;
    margin-top: 20rem;
}
.marlon, .dylan, .roald{
    background-color: #43C4CD;
    justify-content: space-between;
}
.pic{
    scale: 50%;}

.profiles{
    display: flex;
    scale: 10%;
    padding: 1%;
    margin: 1%;
    border: 1%;
}

h1{ 
    display: flex;
    justify-content: center;
    margin: 15px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #43C4CD;}
p{  
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;}
a{
display: flex;
font-family: Arial, Helvetica, sans-serif;
justify-content: space-between;}